body {
    background-image: url("http://mundomemeshoy.com/wp-content/uploads/2021/09/63443563463463463536.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.title {
    text-align: center;
    color: royalblue;
    background-color: black;
    border: 5px dotted red;
    margin: 5px;
}

.subtitle {
    color: white;
    background-color: red;
    text-align: center;
    padding: 20px;
    margin: 30px;
}

#caja, #caja2 {
    background-color: black;
}

#caja {
    width: 400px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    /* margin-top: 100px;
    margin-bottom: 50px */;
}

#caja p, #caja2 p {
    color: white;
}