html {
    background-color: rgb(209, 223, 241);
  }
  
  h1 {
    color: black;
    text-align: right;
    font-family: "Gill Sans";
  }
  
  span {
    color: red;
  }
  
  h2 {
    font-family: "serif";
  }
  
  .primertxt {
    color: rgb(238, 72, 12);
  }
  
  .seguntxt {
    background-color: white;
    color: rgb(6, 173, 6);
  }
  
  .abajo {
    text-align: center;
    font-family: cursive;
    font-size: 10px;
  }
  
  .sangria {
    text-indent: 40px;
  }


